body {
  background-color: white;
}

header {
  overflow: auto;
  width: 100%;
  height: 70px;
}

header ul {
  float: right;
}

header li {
  display: inline;
}

article p {
  padding: 10px 0px;
  text-indent: 25px;
  font-family: 'Open Sans', sans-serif;
}

article li {
  list-style-type: none;
  font-family: 'Handlee', cursive;
  padding: 4px;
}

footer {
  overflow: auto;
  width: 100%;
}

.forkAndKnife {
  float:left;
  width: 42px;
  /*height: 200px; change pic size to see where text shows in relation to it
  width: 200px;*/
}


#headerImageAndText {
  width: 200px;
  float: left;
}

#delicious {
  font-family: Lucida Calligraphy, sans-serif;
  font-size: 25px;
  margin-left: 50px;
  margin-top:auto;
  margin-bottom: auto;
  width: 200px;
}

#bestFood {
  font-family: Eurostile, sans-serif;
  font-size: 10px;
  width: 200px;
  margin-left: 50px;
  margin-top: auto;
}

#topBorder {
  height: 9px;
  width: 901px;
  margin: 1px;
  background-image:
   repeating-linear-gradient(
     45deg,
     white,
     white 2px,
     black 1px,
     black 3px /* determines size */
   );
}

#pizzaTitle {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0px;
}

#posting {
  float: left;
  margin-top: 0px;
  color: gray;
  font-size: 12px;
}

#printer1 {
  float: right;
  margin-top: 0px;
  color: gray;
  font-size: 12px;
}

#ingredientsContainer {
  background-image: url("assets/list-bg.png");
  overflow: auto;
  width: 100%;
}

#ingredients1 {
  float:left;
  padding-left: 80px;
  padding-right: 150px;
}

#ingredients2 {
  float: left;
}

#footerAuthor {
  width: 700px;
  float: left;
}

#vanessaphoto {
  float: left;
}

#author {
  float: left;
  margin: 2px;
}

#aboutVanessa {
  float: left;
  margin: 2px;
}

#shareButton {
  width: 200px;
  height: 100px;
  background: orange;
  text-align: center;
  float: right;
}

#footerLogo {
  margin: 10px auto;
  clear: both;
}

#page {
  width: 901px;
  margin: 0 auto;
}
